* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.red {
  background-color: red;
  border: 1px solid black;
  height: 100px;
}

.green {
  background-color: lawngreen;
  border: 1px solid black;
  min-height: 100px;
}

/* .wrapper1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}



.wrapper2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

#box6 {
  grid-column-start: 1;
  grid-column-end: 4;
}

#box7 {
  grid-row-start: 2;
  grid-row-end: span 4;
} */



