.message {
    list-style-type: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
width: 100%;
height: 100%;
background-color: #f4f3f3;
}

.container {
padding: 1rem 1rem 0 1rem;
}

.header {
padding: .5rem;
border: 2px solid grey;
}

.notification {
padding: .5rem;
margin-top: .2rem;
color: red;
display: none;
}

.form-container {
border-bottom: 1px solid grey;
margin-bottom: 1rem;
}

.show {
display: none;
}

.form {
padding: 1rem;
}

.title {
margin: .5rem 0
}

.btn {
background-color: #fff;
padding: .2rem .7rem;
border: 1px solid grey;
border-radius: 2px;
margin: .5rem 0;
}

.post-item {
padding: 1rem;
margin-bottom: .5rem;
border: 2px solid grey;
border-radius: 5px;
}

.post-header {
display: flex;
justify-content: space-between;
align-items: flex-start;
}

.post-name {
text-decoration: underline;
margin-bottom: 1rem;
}