* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  padding: 20px;
}

.container {
  padding: 20px;
  margin: auto;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 5px;
  width: 50%;
}

.item, h1 {
  margin-bottom: 10px;
}

button {
  padding: 0 10px;
}