* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 /* .wrapper1 {
  width: 100%;
  display: flex;
  justify-content: space-around;
} */


.wrapper1 div {
  width: 100px;
  height: 100px;
  background-color: lawngreen;
  border: 1px solid black;
}


/* .wrapper2 {
  width: 100%;
  display: flex;
} */

.wrapper2 div {
  width: 100px;
  height: 100px;
  background-color: red;
  border: 1px solid black;
}


/*
#box6 {
  flex-grow: 1;
}

#box7 {
  flex-grow: 3;
}

#box8 {
  flex-grow: 1;
}

#box9 {
  flex-grow: 1;
}

#box10 {
  flex-grow: 1;
} */



